header {
    position: absolute;
    z-index: 10;
    width: 300px;
    transition: 2s;
}

.cambiarNavigate {
    left: -260px;
}

.navigation {
    padding: 15px;
    width: 100%;
    height: 100%;
    background: #ebb734;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
}